
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link:hover{
    color:white;
}
.navbar{
    
    backdrop-filter:none !important;
}
.modal-header{
    
    border-radius: 20px;
}
.calc{
background-image: url("../image/water.png");
background-color: rgba(65, 65, 78, 0.5); /* لون أزرق مع شفافية */
background-blend-mode: overlay; /* طريقة الدمج */
background-size: cover; /* لضبط حجم الصورة */
background-position: center; /* لوضع الصورة في المنتصف */
height: 654px;
background-size: 122% 760px;
background-repeat: no-repeat;
margin-top: -163px; 
text-align: left;
padding-top: 256px;
padding-left: 209px;
color: white;
}
.content i{
color:#8dbf47
}
form .row {
border: 2px solid #8DBF47;
width: 820px;
margin-top: 22px;
padding: 18px;
margin-bottom: 70px;
border-radius: 68px;
box-shadow: 1px 0px 8px #cbe2ac;
}
form .row .input-calc {
width: 306px;
background: #E6F1D8;
border-radius: 12px;
border: none;
height: 41px;
padding-right: 14px;
outline: none;
}
form .row .btn-calc {
width: 277px;
height: 41px;
border-radius: 8px;
background: #8DBF47;
border: 0;
color: white;
}
.custom-modal {
border-radius: 20px;
overflow: hidden;
transform: scale(0.98);
transition: all 0.4s ease-in-out;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.modal.show .custom-modal {
transform: scale(1);
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2); 
}

.modal-header {
background: linear-gradient(120deg, #6db65b, #3e8e41);
color: white;
font-weight: bold;
text-align: center;
padding: 1rem;
border-bottom: 2px solid #4a7c38; 
}
.modal-body {
text-align: center;
padding: 2rem;
background-color: #f3f9f3;
}
.modal-content{
    
border-radius: 20px;
}

.modal-body{
    border-radius: 20px;
}
.modal-body p {
font-size: 1.25rem;
color: #333;
margin-bottom: 1.5rem;
}
.modal-body img {
max-width: 120px;
margin-bottom: 1.5rem;
border-radius: 50%;
}
.modal-footer {
justify-content: center;
background-color: #f1f1f1;
padding: 1rem;
border-top: none;
}
button.btn-primary {
background-color: #6db65b;
border-color: #4a7c38;
transition: all 0.3s ease-in-out;
}
button.btn-primary:hover {
background-color: #4a7c38;
border-color: #3e8e41;
transform: translateY(-2px); 
}
button.btn-secondary {
background-color: #f1f1f1;
border-color: #ccc;
transition: all 0.3s ease-in-out;
}
button.btn-secondary:hover {
background-color: #e1e1e1;
transform: translateY(-2px); 
}
.modal.fade .modal-dialog {
opacity: 0;
transform: translateY(-30px);
transition: all 0.3s ease-out;
}

.modal.fade.show .modal-dialog {
opacity: 1;
transform: translateY(0); 
}
.modal-data p{

font-size: 18px;
}
.close-modal{
display: block;
width: 29px;
height: 29px;
border: 1px solid white;
text-align: center;
border-radius: 24px;
color: white;
}